---
---

@import "{{ site.theme }}";

.page-header {
  color: #fff;
  text-align: center;
  background-color: #171718;
  background-image: linear-gradient(120deg, #171718, #3364b3);
}

.project-name {
  margin-bottom: 1.5rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: normal;
  color: #3364b3;
  text-align: center;
}

.member-box img {
  border-radius: 50%;
}

.member-box {
  margin-bottom: 20pt;
}

table {
  display: table !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}