<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
        type="text/css" crossorigin>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="16x16 24x24 32x32 48x48 64x64" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3364b3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <title>NSA @ IJCAI23</title>
</head>

<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.subtitle | default: site.subtitle }}</h2>
        <h2 class="project-tagline">{{ page.description | default: site.description | default:
            site.github.project_tagline }}</h2>
        <a href="#cfp" class="btn">CFP</a>
        <a href="#dates" class="btn">Important Dates</a>
        <a href="#papers" class="btn">Accepted Papers</a>
        <a href="#schedule" class="btn">Schedule</a>
        <a href="#invited" class="btn">Invited Talks</a>
        <a href="#organizers" class="btn">Organizers</a>
        <a href="#pcs" class="btn">PCs</a>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}
    </main>
</body>

</html>